/*
 * blinkftw.css is provided by mrdoob (https://github.com/mrdoob/blinkftw)
 */
@-webkit-keyframes blink { 70% { visibility: hidden; } }
@-moz-keyframes blink { 70% { visibility: hidden; } }
@keyframes blink { 70% { visibility: hidden; } }

blink {
	-webkit-animation: blink 0.5s alternate steps(1) infinite;
	-moz-animation: blink 0.5s alternate steps(1) infinite;
	animation: blink 0.5s alternate steps(1) infinite;
}
