<?php
// Config

// Your Nagios hosts
$nagios_hosts = array(
    array("hostname" => "nagios01.dc1.company.com", "port" => "6315", "protocol" => "http", "tag" => "DC1", "tagcolour" => "#336699"),
    array("hostname" => "nagios01.dc2.company.com", "port" => "6315", "protocol" => "http", "tag" => "DC2", "tagcolour" => "#696969"),
    array("hostname" => "nagios01.dc3.company.com", "port" => "6315", "protocol" => "http", "tag" => "DC3", "tagcolour" => "#4169E1"),
// and so on...
//  array("hostname" => "example.company.com", "port" => "6315", "protocol" => "http", "tag" => "HOST", "tagcolour" => "#FFA500"),
);

// Globally filter out hosts using a regex, if you wish, or leave blank for all.
$filter = "";

// Default downtime duration, measured in seconds, for scheduling downtime via the Nagdash interface.
$duration = 60*60;

// Show the floating spinner when Nagdash is being refreshed.
$show_refresh_spinner = true;

// sort_by_time: Set this to true to sort by the last state change, e.g. how long the service has been broken.
// If set to false, leave to default sorting by hostname instead.
$sort_by_time = false;

# For testing, uncomment this for some errors:
//$mock_state_file = './test_data/state';

// Show only critical and Unknown alerts.
$hide_warnings = false;

// End Config
